html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
}

body {
	position: absolute;
	top: 0px;
	margin: 0px;
	width: 100%;
	background-color: ghostwhite;
}

header {
	position: fixed;
	z-index: 20;
	background-color: white;
	width: 100%;
	min-height: 50px;
	box-shadow: 0px 3px 7px lightgrey;
	font-family: "Arial";
}

nav {
	height: 50px;
	line-height: 50px;
}

button {
	background-color: inherit;
	border: none;
	height: 25px;
	margin: 5px;
}


.main {
	position: relative;
	top: 75px;
}

.center {
	width: 600px;
	margin: auto;
}

p {
	font-family: "Palatino";
	font-size: 1.25em;
	width: 90%;
	margin: 10px auto;
	padding: 5%;
	background-color: white;
}

p.foot{
	background-color: black;
	width: 50%;
	margin-left: 0px;
	left: 0px;
	font-family: arial;
	font-size: .85em;
}

footer {
	width: 100%;
	margin: 200px 0px 0px 0px;
	background-color: black;
	color: white;
}

.foot {
	width: 600px;
}
