html {
	/* overflow: hidden; */
}

body {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	width: 100%;
	background-color: ghostwhite;
	font-family: Verdana;
}

header {
	/* outline: 1px solid yellow; */
	position: fixed;
	z-index: 20;
	background-color: white;
	width: 100%;
	min-height: 50px;
	box-shadow: 0px 3px 7px lightgrey;
}

nav {
	/* outline: 1px solid blue; */
	height: 50px;
	line-height: 50px;
}

button {
	/* outline: 1px solid red; */
	background-color: inherit;
	border: none;
	height: 25px;
	margin: 5px;
}


h1 {
	outline: 1px solid orange;
	width: 40%;
	height: 50px;
	line-height: 50px;
	margin: auto;
	color: white;
	text-align: center;
}

.main {
	/* outline: 1px solid red; */
	position: relative;
	top: 50px;
}

.center {
	width: 600px;
	margin: auto;
}

p {
	width: 80%;
	margin: 10px 0px;
	padding: 5%;
	background-color: white;
}

footer {
	width: 100%;
	height: 100px;
	margin: 300px 0px 0px 0px;
	background-color: black;
	color: white;
}
