* {
	box-sizing        : border-box;
	margin            : 0px;
}
.box {
	float             : left;
	height            : 100vh;
	overflow          : auto;

}
body>header{
    position: absolute;
    z-index: 1;
    height : 40px;
    width : 100vw;
    text-align : center;
    color: ghostwhite;
    text-shadow: 0px 0px 1px black;
    line-height : 40px;
    background-color: #729FCF;
    box-shadow: 1px 1px 3px black;
}
body>header main {
    position: relative;
    width :950px;
    margin: auto;
}
body>header main nav {
    position: absolute;
    background-color: inherit;
    margin: 0px;
    padding: 0px;
    width : 150px;
}
body>header main section {
    position: absolute;
    left: 150px;
    width: 500px;
    margin: 0px;
}
body>header main aside {
    position: absolute;
    right: 0px;
    width: 300px;
    margin: 0px;
}
body>header a {
    display: block;
    text-decoration: none;
    color: inherit;
}
body>header a:hover {
    color: white;
    text-shadow: 0px 0px 2px black, 0px 0px 3px white;
}
body>main nav {
    width : 150px;
    background-color : gainsboro;
    padding: 50px 0px;
    margin: 0px;
}
body>main nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color : lightgrey;
}
body>main nav li a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: gainsboro;
    padding: 0px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
}
body>main nav li a:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: aliceblue;
    color: inherit;
}
body>main section {
    padding: 50px 5px;
    width : 500px;
}
body>main aside {
    padding: 50px 5px;
    width : 300px;
}
fieldset {
    margin: 10px 5px;
	background-color  : ghostwhite;
    border: 0px;
    box-shadow: 0px 0px 1px grey, -2px 2px 4px lightgrey;
}
.clearfix {
    width : 950px;
    margin : auto;
    background-color: aliceblue;
    box-shadow: -2px 0px 3px lightgrey, 0px 0px 50px gainsboro;
}
.clearfix::after {
	content           : "";
	clear             : both;
	display           : table;
}
ul {
	text-align        : center;
	list-style-type   : none;
	margin            : 0;
	padding           : 0;
}
.matched {
	text-align        : left;
	list-style-type   : none;
	background        : ghostwhite;
	margin            : 15px;
	padding           : 10px;
	box-shadow        : 0px 0px 5px lightgrey;
}
.selected {
	text-align        : left;
	list-style-type   : none;
	background        : ghostwhite;
	margin            : 15px;
	padding           : 10px;
    outline: 1px solid red;
	box-shadow        : 0px 0px 2px red, 0px 0px 5px lightgrey;
}
