* {
	box-sizing        : border-box;
	margin            : 0px
}
.box {
    outline: 1px solid red;
	float             : left;
	padding           : 50px 5px;
	height            : 100vh;
	overflow          : auto;
}
nav {
    width : 150px;
}
#mainDisplay {
    width : 500px;
}
fieldset {
	background-color  : ghostwhite;
}
.clearfix {
    width : 950px;
    margin : auto;
    background-color: aliceblue;
}
.clearfix::after {
	content           : "";
	clear             : both;
	display           : table;
}
ul {
	text-align        : center;
	list-style-type   : none;
	margin            : 0;
	padding           : 0;
}
.selected, .matched {
	text-align        : left;
	list-style-type   : none;
	background        : white;
	margin            : 15px;
	padding           : 10px;
	box-shadow        : 0px 0px 3px lightgrey;
}
