html{
	box-sizing : border-box;
}
* {
	box-sizing : inherit;
	margin     : 0px;
	overflow   : auto;
}
nav {
	border     : 1px solid red;
	float      : left;
	width      : 20%;
	height     : 100vh;
}
main {
	float      : left;
	border     : 2px solid blue;
	color      : orange;
	width      : calc(100vw - 30%);
	height     : 100vh;
}
